
.vs/program/v16/.suo
.vs/program/v16/.suo
*.db
*.ipch
*.log
*.recipe
*.obj
*.ilk
*.db
*.pdb
*.tlog
*.db
*.db
*.db-wal
*.db-shm
.vs/program/v16/.suo
*.db
*.opendb
*.db
.vs/program/v16/.suo
*.db
.vs/program/v16/Browse.VC.db
.vs/program/v16/Browse.VC.db
.vs/program/v16/.suo
